<!DOCTYPE html>
<html>
  <head>
    <title>COZA Stote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render "layouts/header"%>
<p id="notice" >
  <%= notice %>

</p>
  <body class='<%= controller.controller_name %>'>
    <%= yield %>
  
  </body>
  <footer>
    <%= render "layouts/footer"%>
<p id="notice" >
  <%= notice %>
  </footer>
</html>
